# .env (Template)
# Copy this to .env and fill in your actual values

SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,*

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

CELERY_BROKER_URL=redis://localhost:6379/0
